body {
    --bs-body-bg: lightgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
    
}

.availability {
    background-color: #F8BBD0;
    color: #212121;
    text-align: center;
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
}

.card {
    background-color: #00BCD4;
}

.list-group-item {
    background-color: #E91E63;
}

p {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
}